<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Tables</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include "header.html" %}
{#    {{ data }}#}
    <div class="container">
        <div class="form-group text-center">
            <h4> Available Tables </h4>
        </div>
        <div class="list-group">
          {% for dt in data %}
              <a href="/tableDetails/{{ dt.id }}/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Table Number: {{ dt.id }}</h5>
                </div>
                <p class="mb-1">Maximum Number Of Seats {{ dt.maxNumberOfSeats }}</p>
                <small>Restaurant Name: {{ restaurantData.name }}</small>
              </a>
          {% endfor %}
        </div>
    </div>

    {% include "footer.html" %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>